.genericCaseWrapper{
    padding: 12px 0 !important;
}

.genericCaseCont {
    background-color: #ffffff; /* Fondo blanco para el contenedor */
    padding: 40px !important;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.16);
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
}

.title-genericCase{
    font-size: 36px;
    font-weight: 600;
    color: #3463AC;
}

.genericCaseExplanation{
    font-size: 18px;
    font-weight: 400;
    color: #303555;
    text-align: justify;
}

.form-group h4 {
    font-size: 28px;
    font-weight: 600;
    color: #3463AC;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 14px;
    font-weight: 400;
    color: #303555;
}

input.form-control,
select.form-control,
input.form-select,
select.form-select{
    border-radius: 10px;
    border: 1px solid #717384;
    padding: 16px;
}

.input-group-text {
    background-color: #F6F6F6 !important;
    border: 1px solid #717384 !important;
    border-radius: 0 10px 10px 0 !important; /* Redondeado solo en la derecha */
    padding: 0 16px !important; /* Padding a los lados */
}

.subtitle-genericCase{
    margin-bottom: 20px;
}

.input-explanation{
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #303555 !important;
}

.btn-genericCase {
    background-color: #303555 !important;
    border-color: #303555 !important;
    padding: 12px 54px !important;
    color: #FFFFFF !important;
}

.btn-center{
    display: flex;
    justify-content: center;
}

.toggle-btn{
    font-size: 18px !important;
    font-weight: 400;
    color: #3463AC !important;
}

