.header-cont {
    padding: 24px 0 !important;
}

.custom-text-color {
    color: #184487 !important;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.custom-header-color {
    background-color: #fafafa;
}

.nav-container {
    padding: 12px 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Reset all margins and paddings for nav elements */
.nav {
    display: flex !important;
    gap: 80px;
    align-items: center !important;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 15px 0;
}

.nav-link {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #184487 !important;
    padding: 0 !important;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    line-height: normal;
    position: relative;
}

/* ===== EFECTO HOVER CON TU GRADIENTE EXACTO ===== */
.nav-link::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0;
    height: 0.3rem;
    background: linear-gradient(
            90deg,
            #184487 0%,
            #1A4385 25.6%,
            #224180 40.9%,
            #313D78 53.4%,
            #45386D 64.5%,
            #5F325F 74.6%,
            #7F2A4D 84%,
            #A42138 92.7%,
            #CB1823 100%
    );
    transition: 0.3s;
    border-radius: 0.2rem;
}

.nav-link:hover::after {
    width: 100%;
}

.language-switcher {
    display: flex !important;
    align-items: center !important;
    text-align: center;
}

.language-btn {
    background: none;
    border: none;
    color: #184487;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.custom-navbar-color {
    line-height: 1;
    vertical-align: middle;
}

.language-btn.active {
    font-weight: 700;
    color: #184487;
    position: relative;
}

.language-btn.active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #184487;
    border-radius: 1px;
}