.optionsCont {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.16);
    padding: 24px 20px;
    background-color: #FFFFFF;
    display: flex;
    height: 100%; /* Usa height: 100% en lugar de min-height */
}

.flex {
    display: flex;
    align-items: center; /* Alinea la imagen y el texto en la parte superior */
    gap: 1.5rem; /* espacio entre imagen y texto */
}

.vias-casosReales{
    flexShrink: 0;
    height: auto;
    width: 19%;
}

.optionsText {
    font-size: clamp(18px, 1.25vw, 18px); /* Tamaño de fuente responsive */
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #303555;
    word-wrap: break-word; /* Permite que el texto se divida en varias líneas */
    white-space: normal; /* Permite que el texto fluya en varias líneas */
    flex-grow: 1; /* Hace que el texto ocupe el espacio restante */
    display: block;           /* o flex si necesitas más control */
    text-align: left;         /* Esto mantiene el texto alineado normal */
}

.custom-link {
    text-decoration: none; /* Quitar subrayado */
    color: inherit; /* Mantener el color del texto del componente */
    cursor: pointer !important; /* Mostrar la mano al pasar */
    display: block;
    height: 100%;
}

.custom-link:hover {
    text-decoration: none; /* Asegurar que no aparezca subrayado */
    color: inherit; /* Mantener el color original */
}

/* Clase para el contenedor de cada opción en Bootstrap */
.option-card-container {
    height: 100%;
    display: flex;
}

.center-text {
    text-align: center;
}

.justify-text {
    text-align: justify;
}


/* Media queries para ajustar según el tamaño de pantalla */
@media (max-width: 768px) {
    .optionsCont {
        padding: 1rem 0.75rem;
    }

    .optionsText {
        font-size: 16px; /* Tamaño más pequeño en móviles */
    }
}